<main>
    <div class="home">
        <div class="welcome">
            <h1>Welcome to my portfolio!</h1>
            <h2>Full-stack developer</h2>
            <button type="button" class="btn btn-light">CV (pt-br)</button>
            <button type="button" class="btn btn-light">CV (en)</button>
        </div>

        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#6952E0"
                    d="M57,-45.8C69.7,-29.5,72.9,-6.1,67.7,14.9C62.4,35.8,48.7,54.3,31.4,61C14.1,67.7,-6.9,62.8,-27.6,54C-48.4,45.3,-68.9,32.9,-73.3,16C-77.8,-0.8,-66,-22.1,-51.1,-38.9C-36.2,-55.7,-18.1,-68,2,-69.6C22.2,-71.2,44.3,-62.1,57,-45.8Z"
                    transform="translate(100 100)" />
            </svg>
        </div>
    </div>

    <span id="about"></span>

    <div class="about-me">
        <h1>About me</h1>

        <div class="container">
            <img src="/images/web-dev.svg" alt="web-dev">

            <div class="intro">
                <p>Hey there! How’s it going? My name is Maria Clara Alves de Faria, 19 y/o and currently living
                    in São José dos Campos, SP - Brasil.</p>
                <p>I just started my internship at Ericsson as a Sourcing Intern.</p>
                <p>I’m graduating on Cross-platform Software
                    Development at FATEC - São José dos Campos.
                    and I’ve fallen in love with the tech world.</p>
                <p>Ready for new challenges and hoping to achieve
                    great things as a dev and as a person</p>
            </div>
        </div>
    </div>

    <span id="skills"></span>

    <div class="skills">
        <h1>Skills</h1>

        <div class="skills-svg">
            <div class="container">
                <img class="img-left" src="/images/dev-focus.svg" alt="agile">

                <h2>Agile Methodology</h2>
            </div>

            <div class="container">
                <img class="img-left" src="/images/education.svg" alt="learning">

                <h2 class="text-leftt">Fast Learner</h2>
            </div>

            <div class="container">
                <img src="/images/co-working.svg" alt="group">

                <h2 class="text-left">Group Work</h2>
            </div>

            <div class="container">
                <img src="/images/proud-coder.svg" alt="coder">

                <h2 class="text-leftt">Back-end Dev</h2>
            </div>

            <div class="container">
                <img src="/images/website-setup.svg" alt="web">

                <h2 class="text-leftt">Web Dev</h2>
            </div>

            <div class="container">
                <img src="/images/server-status.svg" alt="database">

                <h2 class="text-leftt">Database</h2>
            </div>
        </div>
    </div>

    <span id="tech&tools"></span>

    <div class="tech-tools">
        <h1>Tech & Tools</h1>

        <div class="tech-tools-svg">
            <div class="container">
                <img src="/images/brand/cib-git.svg" alt="git">
                <h2>Git</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-html5-shield.svg" alt="html-5">
                <h2>HTML-5</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-css3-shiled.svg" alt="css-3">
                <h2>CSS-3</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-javascript.svg" alt="javascript">
                <h2>Javascript</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-python.svg" alt="python">
                <h2>Python</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-flask.svg" alt="flask">
                <h2>Flask</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-mysql.svg" alt="mysql">
                <h2>MySQL</h2>
            </div>

            <div class="container">
                <img src="/images/brand/cib-heroku.svg" alt="heroku">
                <h2>Heroku</h2>
            </div>

        </div>
    </div>
</main>